{% extends "index.html" %}
{% load static  %}

{% block title %}
  <title>Giris Yap</title>
{% endblock title %}

{% block content %}
    <form action="" method="POST" class="w-50 m-auto border p-4">
       {% csrf_token %}
       <label for="">Kullanici Adi</label>
       <input type="text" name="username" id="" class="form-control">
       <label for="">Sifre</label>
       <input type="password" name="password" id="" class="form-control">
       <input type="submit" value="Giris Yap" class="btn btn-primary mt-2">
    </form>
{% endblock content %}