{% extends "index.html" %}
{% load static  %}

{% block content %}
  <form action="" class="m-auto border p-4 w-50">
    {% csrf_token %}
    <label for="">Mevcut Sifreniz</label>
    <input type="password" name="eski" id="" class="form-control">
    <label for="">Yeni Sifre</label>
    <input type="password" name="yeni" id="" class="form-control">
    <label for="">Yeni Sifre Onay</label>
    <input type="password" name="confirm" id="" class="form-control">
    <input type="submit" value="Guncelle" class="btn btn-primary mt-2">
  </form>
{% endblock content %}




